.FIGHTING1 {
    background-color: rgb(255, 161, 158);
}

.FIGHTING2 {
    background-color: rgb(190, 97, 97)
}

.FIGHTING3 {
    background-color: rgb(255, 207, 207)
}

.FIGHTING4 {
    color: rgb(197, 66, 66);
    text-shadow: -1px -1px 0 rgb(59, 0, 0),
    1px -1px 0 rgb(59, 0, 0),
    -1px 1px 0 rgb(59, 0, 0),
    1px 1px 0 rgb(59, 0, 0);
}